.scroll {
	overflow: auto;
	overflow: scroll;
}

.droptarget {
	background: #bafed1;
	min-height: 300px;
	margin-bottom: 5px;
}
.pad {
	margin: 5px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.card.categories .title {
  font-size: 1em;
  font-weight: 400;
  color: #8d9293;
  text-transform: uppercase; 
  margin-bottom: 5px;
}

.card-right {
  font-size: 1em;
  font-weight: 400;
  color: #8d9293;
  text-transform: uppercase; 
  margin-bottom: 5px;
}

.card.card-red {
  background-color: #e74c3c; }
  .card.card-red .card-body .icon {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.05); }
  .card.card-red .card-body .content .value {
    color: #FFF; }
  .card.card-red-light {
    background-color: #FFF; }
    .card.card-red-light .card-body .icon {
      color: #e74c3c;
      background-color: rgba(57, 195, 218, 0.05); }
    .card.card-red-light .card-body .content .value {
      color: #e74c3c; }
    .card.card-red-light:hover {
      background-color: #e74c3c; }
      .card.card-red-light:hover .card-body .icon {
        color: #FFF;
        background-color: rgba(255, 255, 255, 0.1); }
      .card.card-red-light:hover .card-body .content .title {
        color: #FFF; }
      .card.card-red-light:hover .card-body .content .value{
        color: #FFF; }
  .card.card-red.card-chart .card-header {
    background-color: #e74c3c;
    color: #e74c3c; }

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  opacity: .8;
}